<!DOCTYPE html>
<html>
    <head>
        {% block head %}
		    <title>WineBar</title>
			<link rel="stylesheet" type="text/css" href="http://localhost:81/projectSlim3/src/foundation/css/foundation.min.css">
			<link rel="stylesheet" type="text/css" href="http://localhost:81/projectSlim3/src/foundation/reveal/reveal.css">
			<script type="text/javascript" src="http://localhost:81/projectSlim3/src/foundation/reveal/jquery-1.4.4.min.js"></script>
			<script src="http://localhost:81/projectSlim3/src/foundation/reveal/jquery.reveal.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}
			<nav>
				<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
			        <button class="menu-icon" type="button" data-toggle></button>
			        <div class="title-bar-title" data-hide-for="large">Menu</div>
			     </div>
			      
			      <div class="top-bar" id="menu">
			        <div class="top-bar-left">
			          <ul class="dropdown menu" data-dropdown-menu>
			            <li class="menu-text">Sort Wine by :</li>
			            <li>
			              <a href="http://localhost:81/ProjectSlim3/orderby/name">Name</a>
			            </li>
			            <li>
			              <a href="http://localhost:81/ProjectSlim3/orderby/year">Year</a>
			            </li>
			            <li>
			              <a href="http://localhost:81/ProjectSlim3/orderby/region">Region</a>
			            </li>
			            <li>
			              <a href="http://localhost:81/ProjectSlim3/orderby/country">Country</a>
			            </li>
			          </ul>
			        </div>
					<ul class="top-bar-right menu">
			          	<li>
			              <a href="http://localhost:81/ProjectSlim3/">Home</a>
			            </li>
			        </ul>
			      </div>
			<nav>
			<div class="callout large">
				<div class="row column text-center">
					<h1 id="home" class="mainTitre"><strong>Wine Bar</strong></h1>
					<p class="lead">Wine from your area</p>
				</div>
			</div>
        {% endblock %}
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://www.aswebdev.com/"><strong>AsWebDev</strong></a>.
            {% endblock %}
        </div>
        {% block link %}
            <script src="http://localhost:81/projectSlim3/src/foundation/js/vendor/jquery.min.js"></script>
			<script src="http://localhost:81/projectSlim3/src/foundation/js/vendor/what-input.min.js"></script>
			<script src="http://localhost:81/projectSlim3/src/foundation/js/foundation.min.js"></script>
			<script src="http://localhost:81/projectSlim3/src/foundation/js/app.js"></script>
			<script src="http://localhost:81/projectSlim3/src/js/main.js"></script>
        {% endblock %}
    </body>
</html>