<!DOCTYPE html>
<html>
<head>
	<title>WineBar</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:81/projectSlim2/src/foundation/css/foundation.min.css">

	<style>
		body{
			text-align: center;
		}
		a{
			font-size: 22px;
			color: black !important;
			cursor: pointer;
		}
		a:hover{
			color: grey !important;
			cursor: pointer !important;
		}

		.callout{
			border: none;
			height: 600px;
		}
		img{
			max-width: 700px !important;
		}
		@media only screen and (max-width: 40em){
			img{
				margin-left: -10%;
			}

		}
		@media only screen and (max-width: 30em){
			img{
				margin-left: -40%;
			}

		}
		@media only screen and (max-width: 25em){
			img{
				margin-left: -55%;
			}

		}
	</style>
</head>
<body>
	<div class="callout large">
		<div class="row column text-center">
			<img src="http://localhost:81/projectSlim2/src/img/{{src}}.svg" class="img-responsive" alt="Image" />
		</div>
	</div>
	<div class="callout large">
		<a href="http://localhost:81/projectSlim3/">Previous page</a> 
	</div>
</body>
</html>